PORT=8545
CHAIN_ID=31337
HARDFORK="osaka"
ACCOUNT_NUMBER=10
MNEMONIC="test test test test test test test test test test test junk"
ANVIL_CONFIG_OUT=".last-anvil-config.json"

# Deployments default path
DEPLOYMENTS_PATH=".deployments.json"

# Production deployment (required for broadcast)
RPC_URL="http://localhost:8545"
PRIVATE_KEY=""
ETHERSCAN_API_KEY=""